# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.env/
.venv/
env/
venv/
ENV/

# Output directories
outputs/
checkpoints/
data/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS-specific junk
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.swp

# IDE settings
.vscode/
.idea/
